{% extends "base.html" %}

{% block content %}
    <title>All Tasks</title>
    <form action="" method="post" novalidate>
        {{form.hidden_tag()}}
        
    

    <h1 class="display-4 text-dark text-center">Tasks</h1>
        <p>{{form.createTask()}} </p>
        {% for t in all_tasks %}
            {% if t.ispriority %}
                <p><b>{{t.title}}</b>{{form.edit}}</p>
            {% else %}
                <p>{{t.title}}{{form.edit}}</p>
            {% endif %}
        {% endfor %}
    </form>
{% endblock %}
