{% extends "base.html" %}

{% block content %}
    <title>Login Page</title>
    <h1 class="display-4 bg-light text-primary text-center"> Log in </h1>
    <form action="" method="post" novalidate>
        {{form.hidden_tag()}}
        <p class="display-5 bg-light text-primary text-center">
            {{form.username.label}}<br>
            {{form.username(size=32)}}<br>
            {{form.password.label}}<br>
      	    {{form.password(size=32)}}<br>
        </p>
        <p class="display-5 bg-light text-primary text-center">    
        {{form.login()}} 
        {{form.register()}}
        {{form.home()}}</p>
    </form>
{% endblock %}
