{% extends "base.html" %}

{% block content %}
    <title>Edit Task</title>
    <h1 class="display-4 bg-info text-secondary text-center">Edit Task</h1>
    <form action="" method="post" novalidate>
        {{form.hidden_tag()}}
        <p>
            {{form.title.label}}<br>
            {{form.title(value=form.title.data)}}
        </p>
        <p>
            {{form.desc.label}}<br>
            {{form.desc(value=form.desc.data)}}
        </p>
        <p>
            {{form.ispriority()}}<br>{{form.ispriority.label}}
        </p>
    	Collaborator <input type= "text" name = "collaborator"/>
     	{{form.makeCopy()}}
     	<input type = "submit" name = "Save" value= "Save Task"/>
     	<p class="display-8 bg-light text-primary text-right">{{form.deleteTask()}}
    	</p>
    	<p>
    	{% for c in collabList %}
    	     {{c}}
    	{% endfor %}
    	</p>
    </form>
{% endblock %}
